{

  "name": "diagonalslash",

  "state": {
    "frames": 3,
    "cycle": 0.1,
    "mode": "transition",
    "transition": "idle"
  },

  "properties": {
    "image": "/items/buildscripts/project42neo/sequences/diagonalslash/diagonalslash.png:<frame>",
    "damageArea": [
      [-2.0, 3.125],
      [0.375, 3.125],
      [4.25, 2.125],
      [6.75, 0.375],
      [6.75, -0.75],
      [6.75, -0.75],
      [5.875, -1.625],
      [2.625, -2.5],
      [-2.375, -2.75],
      [-6.75, -1.75]
    ]
  },

  "attackIndex": 2,

  "sequence": [
    {
      "allowRotate": true,
      "allowFlip": true,
      "twoHanded": true,
      "weaponRotation": 90,
      "armRotation": 90,
      "duration": 0.2
    },
    {
      "allowRotate": false,
      "allowFlip": false,
      "twoHanded": true,
      "snap": true,
      "weaponRotation": -30,
      "armRotation": -135,
      "duration": 0.1,
      "aimMomentum": true,
      "momentum": [50, 0],

      "animationStates": {
        "swoosh": "diagonalslash"
      },
      "playSounds": ["swing"],
      "damage": {
        "multiplier": 1.5,
        "config": {
          "knockback": 40
        },
        "offset": [1, 0],
        "rotation": 135
      },
      "shield": {
        "area": [
          [0, -2],
          [0, 2],
          [6, 2.5],
          [6, -2.5]
        ],
        "offset": [0.25, -0.5],
        "duration": 0.5
      }
    }
  ]
}