{

  "name": "upperverticalslash",

  "state": {
    "frames": 3,
    "cycle": 0.1,
    "mode": "transition",
    "transition": "idle"
  },
  "properties": {
    "image": "/items/buildscripts/project42neo/sequences/verticalslash/verticalslash.png:<frame>?flipy",
    "damageArea": [
      [-5, -2],
      [-2.5, -3],
      [1, -3],
      [4, -1.75],
      [5, 0.25],
      [5, 2.25],
      [4, 3.25],
      [0, 2.5]
    ]
  },
  "attackIndex": 3,

  "sequence": [
    {
      "armRotation": -75,
      "weaponRotation": -90,
      "twoHanded": true,
      "allowRotate": true,
      "duration": 0.1
    },
    {
      "armRotation": -75,
      "weaponRotation": -90,
      "twoHanded": true,
      "allowRotate": false,
      "weaponDirectives": "?flipy",
      "duration": 0.1
    },
    {
      "armRotation": 45,
      "weaponRotation": -15,
      "twoHanded": false,
      "snap": true,
      "duration": 0.1,
      "weaponDirectives": "?flipy",

      "animationStates": {
        "swoosh": "upperverticalslash"
      },
      "playSounds": ["swing"],
      "damage": {
        "multiplier": 0.8,
        "offset": [1, -1.75],
        "rotation": -15
      },
      "shield": {
        "area": [
          [0, -2],
          [0, 2],
          [6, 2.5],
          [6, -2.5]
        ],
        "offset": [0.25, -0.5],
        "duration": 0.5
      }
    },
    {
      "armRotation": -45,
      "weaponRotation": 45,
      "twoHanded": true,
      "allowFlip": true
    }
  ]
}