{
  "verticalslash": "/items/buildscripts/project42neo/sequences/verticalslash/verticalslash.config",
  "upperverticalslash": "/items/buildscripts/project42neo/sequences/verticalslash/upperverticalslash.config",
  "drawslash": "/items/buildscripts/project42neo/sequences/verticalslash/drawslash.config",

  "diagonalslash": "/items/buildscripts/project42neo/sequences/diagonalslash/diagonalslash.config",
  "upperdiagonalslash": "/items/buildscripts/project42neo/sequences/diagonalslash/upperdiagonalslash.config",
  "teleportslash": "/items/buildscripts/project42neo/sequences/diagonalslash/teleportslash.config",

  "stab": "/items/buildscripts/project42neo/sequences/stab/stab.config",
  "plunge": "/items/buildscripts/project42neo/sequences/stab/plunge.config",

  "flipslash": "/items/buildscripts/project42neo/sequences/flipslash/flipslash.config",
  "horizontalslash": "/items/buildscripts/project42neo/sequences/horizontalslash/horizontalslash.config",
  "risingslash": "/items/buildscripts/project42neo/sequences/risingslash/risingslash.config"

}