{

  "name": "risingslash",

  "state": {
    "frames": 3,
    "cycle": 0.1,
    "mode": "transition",
    "transition": "idle"
  },

  "properties": {
    "image": "/items/buildscripts/project42neo/sequences/risingslash/risingslash.png:<frame>",
    "damageArea": [
      [3.0, -2.875],
      [3.0, 3.0],
      [-0.625, 2.75],
      [-3.125, 0.75]
    ]
  },
  
  "attackIndex": 2,

  "sequence": [
    {
      "weaponRotation": 30,
      "armRotation": -45,
      "twoHanded": true,
      "allowRotate": true,
      "allowFlip": true,
      "duration": 0.2
    },
    {
      "weaponRotation": -60,
      "armRotation": 75,
      "weaponOffset": [0, 0],
      "twoHanded": true,
      "allowFlip": true,
      "snap": true,
      "duration": 0.1,
      "weaponDirectives": "?flipy",

      "animationStates": {
        "swoosh": "risingslash"
      },
      "playSounds": ["swing"],
      "damage": {
        "multiplier": 0.5,
        "offset": [2, -1.25],
        "rotation": -75
      },
      "shield": {
        "area": [
          [0, -2],
          [0, 2],
          [6, 2.5],
          [6, -2.5]
        ],
        "offset": [0.25, -0.5],
        "duration": 0.5
      }
    }
  ]
}