{

  "name": "flipslash",

  "state": {
    "frames": 1,
    "cycle": 0.3,
    "mode": "transition",
    "transition": "idle"
  },

  "properties": {
    "image": "/items/buildscripts/project42neo/sequences/flipslash/flipslash.png:<frame>?flipy",
    "damageArea": [
      [6.00, 0.00],
      [4.24, 4.24],
      [0.00, 6.00],
      [-4.24, 4.24],
      [-6.00, 0.00],
      [-4.24, -4.24],
      [-0.00, -6.00],
      [4.24, -4.24]
    ]  
  },

  "attackIndex": 2,

  "sequence": [
    {
      "armRotation": -90,
      "weaponRotation": -90,
      "twoHanded": true,
      "allowRotate": false,
      "aimAngle": 0,
      "duration": 0.2,
      "weaponDirectives": "?flipy"
    },
    {
      "armRotation": 15,
      "weaponRotation": 15,
      "twoHanded": true,
      "snap": true,
      "weaponDirectives": "?flipy",
      "aimAngle": 0,
      "velocity": [0, 50],
      "duration": 0.5,
      "flips": -3,

      "animationStates": {
        "swoosh": "flipslash"
      },
      "playSounds": ["flipswing"],
      "damage": {
        "config": {
          "knockback": [0, 50],
          "timeout": 0.05
        },
        "multiplier": 0.8,
        "offset": [1.5, -1],
        "rotation": 15,
        "lock": true
      }
    },
    {
      "armRotation": -45,
      "weaponRotation": 90,
      "twoHanded": true,
      "allowFlip": true
    }
  ]
}