{

  "name": "horizontalslash",

  "state": {
    "frames": 3,
    "cycle": 0.1,
    "mode": "transition",
    "transition": "idle"
  },

  "properties": {
    "image": "/items/buildscripts/project42neo/sequences/horizontalslash/horizontalslash.png:<frame>",
    "damageArea": [
      [0.375, 0.9375],
      [1.875, 0.9375],
      [6.75, 0.0625],
      [3.5, -0.6875],
      [-6.0, -0.8125],
      [-6.875, -0.6875],
      [-0.25, -0.1875],
      [2.125, 0.1875]
    ]
  },

  "attackIndex": 2,

  "sequence": [
    {
      "allowRotate": true,
      "allowFlip": true,
      "twoHanded": false,
      "weaponRotation": 85,
      "armRotation": 75,
      "duration": 0.2
    },
    {
      "allowRotate": false,
      "allowFlip": false,
      "twoHanded": true,
      "snap": true,
      "weaponRotation": 0,
      "armRotation": -165,
      "weaponDirectives": "?flipy",
      "duration": 0.1,

      "animationStates": {
        "swoosh": "horizontalslash"
      },
      "playSounds": ["swing"],
      "damage": {
        "multiplier": 1,
        "offset": [2, 0],
        "rotation": 165
      },
      "shield": {
        "area": [
          [0, -2],
          [0, 2],
          [6, 2.5],
          [6, -2.5]
        ],
        "offset": [0.25, -0.5],
        "duration": 0.5
      }
    }
  ]
}